<p id="last-modified"></p>
<!--
<h2>Have a question or need support?</h2>
<p>The best place to ask questions or troubleshoot the Summit Events App is by posting your questions in the
    <a href="https://trailhead.salesforce.com/trailblazer-community/groups/0F94S000000kHi2SAE?tab=discussion&sort=LAST_MODIFIED_DATE_DESC" target="_blank">
        Commons Project: Summit Events App Salesforce Trailblazer Community
    </a>. There you can ask questions, share your experiences, and help others!
</p>
<p>
    Do you have a feature request or want to report a bug?
    <a href="https://github.com/SFDO-Community/Summit-Events-App/issues" target="_blank">
        Please submit an issue on our GitHub repository
    </a>.
</p>

&lt;!&ndash;<script src="https://utteranc.es/client.js"&ndash;&gt;
&lt;!&ndash;        repo="SFDO-Community-Sprints/summit-events-app-documentation"&ndash;&gt;
&lt;!&ndash;        issue-term="url"&ndash;&gt;
&lt;!&ndash;        label="External Comment"&ndash;&gt;
&lt;!&ndash;        theme="github-light"&ndash;&gt;
&lt;!&ndash;        crossorigin="anonymous"&ndash;&gt;
&lt;!&ndash;        async>&ndash;&gt;
&lt;!&ndash;</script>&ndash;&gt;

<div id="globalFooter" class="clearfix">
    <img src="{{ site.site_root }}/assets/images/OSC-badge.png" class="clearfix"/>
    The Summit Events App is a proud member of the
    <a href="https://trailhead.salesforce.com/trailblazer-community/groups/0F94S000000GwVKSA0?tab=discussion&sort=LAST_MODIFIED_DATE_DESC" target="_blank">Salesforce.org Commons</a>.
    The Salesforce.org Commons is a community of mission-driven individuals working together to solve the world's most challenging problems.
    We do this by actively listening to each other, educating each other, and bringing our passion, experience, and technical know-how to projects that can be
    replicated and shared throughout the Salesforce ecosystem. We work to remove barriers to entry so that everyone can be a part of this vision.
    <br/><br/>
    <em>Copyright <span class="currentYear"></span>, Salesforce.org. All rights reserved. Use of this source code is governed by a
        <a href="https://github.com/SFDO-Community/Summit-Events-App/blob/master/LICENSE.md">BSD Revised license.</a></em>
</div>-->





