<!--<link rel="apple-touch-icon" sizes="180x180" href="{{ site.site_root }}/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.site_root }}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.site_root }}/favicon-16x16.png">
<link rel="manifest" href="{{ site.site_root }}/site.webmanifest">
<link rel="stylesheet" href="{{ site.site_root }}/assets/css/styles.css">-->
<script type="text/javascript" src="{{ site.site_root }}/assets/js/scripts.js"></script>
<script type="text/javascript">
    let ownerName = "{{ site.github.owner_name }}";
    let repoName = "{{ site.github.repository_name }}";
    let pagePath = "{{ page.path }}";
    let pageDate = "{{ page.date }}";
</script>